.bg-red {
  width: 700px;
  height: 100px;
  //   width: 70vw;
  //   height: 100vh;

  background: rgba(244, 48, 48, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(244, 48, 48, 0.4);
}
