.cv-bg {
  display: flex;
  position: absolute;
  top: 10px;
  margin-left: 400px;
  width: 75vw;
  height: 97vh;

  background: rgba(81, 191, 34, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}
