.cv-bg {
  display: flex;
  flex-direction: column;

  // position: absolute;

  top: 10px;
  margin-left: 330px;
  margin-top: 58px;
  width: 75vw;
  height: 94vh;

  background-color: aliceblue;
  background-color: rgba(240, 248, 255, 0.15);
}

.inprogress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;

  color: #3d3d3d;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;

  color: #ea0000;
  opacity: 88%;
}
