.projetcs-bg {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 10px;
  margin-left: 400px;
  margin-top: 100px;
  width: 75vw;
  height: 97vh;
}

.proj-title {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: absolute;

  margin-top: 10px;
  height: max-content;
  width: 200px;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;

  background: rgba(114, 102, 102, 0.52);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(114, 102, 102, 0.68);
}

.card-container {
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 97%;
  height: 90%;

  margin-top: 60px;
}

.project-title {
  display: flex;
  position: absolute;
  font-size: large;
  color: aliceblue;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  flex-wrap: wrap;

  width: 15%;
  height: 30%;
  margin-top: 65px;
  background-color: transparent;
  border-radius: 16px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.2);
  }

  background: rgb(60, 34, 34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: none;
  box-shadow: 0px 4px 20px 0px rgba(255, 111, 97, 0.8);

  transition: box-shadow 0.3s ease;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
  color: aliceblue;

  font-size: 16px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
}

.card-img {
  display: flex;

  width: 75%;
  height: 80px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.drone-store {
  background-image: url('../img/drone.png');
}
.spaceTourism {
  background-image: url('../img/spaceTourism.png');
}
.ticTacToe {
  background-image: url('../img/ticTacToe.png');
}
.coffeShop {
  background-image: url('../img/coffeShop.png');
}

.tech-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  width: 80%;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  color: aliceblue;
}

.tech-1 {
  width: 60px;
  height: 20px;

  background: rgba(39, 179, 234, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(39, 180, 234, 0.16);
}

.tech-2 {
  width: 60px;
  height: 20px;

  background: rgba(139, 142, 11, 0.477);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(101, 103, 8, 0.58);
}
.tech-3 {
  width: 60px;
  height: 20px;

  background: rgba(207, 17, 166, 0.759);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(234, 41, 191, 0.16);
}
.tech-4 {
  width: 60px;
  height: 20px;

  background: rgba(41, 234, 51, 0.754);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(41, 234, 50, 0.16);
}
.tech- {
  width: 60px;
  height: 20px;
}
.tech- {
  width: 60px;
  height: 20px;
}
