@font-face {
  font-family: 'Roboto-Regular'; // You can name it whatever you like
  src: url('../fonts/Roboto-Regular.ttf');
}

.sidebar {
  display: flex;
  margin-top: 108px;
  flex-direction: column;
  margin-left: 74px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  width: 262px;
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  width: 192px;
  margin-top: 24px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Roboto-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.image {
  margin-top: 30px;
  background-image: url('../../public/assets/myimg.jpg');
  width: 198px;
  height: 198px;
  flex-shrink: 0;
  border-radius: 3.385px;
  border: 1.492px solid #fff;
  background: url('../../public//assets/myimg.jpg'),
    lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 27px 0px rgba(255, 255, 255, 0.25);
  background-size: cover;
}

.name {
  align-self: stretch;
  color: #fff;
  font-family: Roboto-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 13px;
}
